<%= error_messages_for 'order' %>

<!--[form:order]-->
<p><label for="order_person">Person</label><br/>
<%= text_field 'order', 'person'  %></p>

<p><label for="order_order">Order</label><br/>
<%= text_field 'order', 'order'  %></p>
<!--[eoform:order]-->

