<%= error_messages_for 'dish' %>

<!--[form:dish]-->
<p><label for="dish_number">Number</label><br/>
<%= text_field 'dish', 'number'  %></p>

<p><label for="dish_description">Description</label><br/>
<%= text_field 'dish', 'description'  %></p>

<p><label for="dish_price">Price</label><br/>
<%= text_field 'dish', 'price'  %></p>

<p><label for="dish_category">Category</label><br/>
<%= text_field 'dish', 'category'  %></p>
<!--[eoform:dish]-->

