<% for column in Dish.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @dish.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @dish %> |
<%= link_to 'Back', :action => 'list' %>
